@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
}

.banner p{
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner button{
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #44A08D;
    background: -webkit-linear-gradient(to right, #093637, #44A08D);
    background: linear-gradient(to right, #093637, #44A08D);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover{
    opacity: 0.8;
}
