@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
}

.banner p{
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner button{
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #44A08D;
    background: -webkit-linear-gradient(to right, #093637, #44A08D);
    background: linear-gradient(to right, #093637, #44A08D);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover{
    opacity: 0.8;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-flow: repeat(4, 4rem);
    row-gap: .5rem;
    margin-bottom: 2rem;
}

.conhecimento:nth-child(1){
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    margin-bottom: 2rem;
}

.conhecimento:nth-child(2){
    grid-column: 8 / 11;
    grid-row: 1 / 3;
    margin-bottom: 2rem;
}

.conhecimento:nth-child(3){
    grid-column: 13 / 16;
    grid-row: 1 / 3;
    margin-bottom: 2rem;
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-historia h1{
    font-family: 'Mulish', sans-serif;
    font-style: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #44A08D;
    margin-top: 1.5rem;
    text-align: center;
    justify-content: center;
}

.sessao-historia p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem; 
    font-family: 'Mulish', sans-serif;
    font-style: 3rem;
    color: black;
    margin-top: 3rem;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem; 
}

.sessao-header h1{
    font-family: 'Mulish', sans-serif;
    font-style: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #44A08D;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{
    font-family: 'Josefin Slab', serif;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: 'Mulish', sans-serif;
    margin-top: 1rem;
}

.conhecimento-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 3 / 7;
    width: 100%;
}

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 100%;
}
.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 18rem;
    height: 25rem;
    position: relative;
    margin-bottom: 2rem;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .9;
    border-radius: .5rem;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .1;

}

.card-info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.card-info h2{
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    color: #eeeeee;
}

.card-info h3{
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
    color: #44A08D;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: 'Mulish', sans-serif;
    color: #eeeeee;
    font-weight: 300;
    width: 80%;
    margin-bottom: 2rem;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    background: #44A08D;
    background: -webkit-linear-gradient(to right, #093637, #44A08D);
    background: linear-gradient(to right, #093637, #44A08D);
    font-family: 'Mulish', sans-serif;
    font-size: .9rem;
    color: #eeeeee;
    border-radius: .5rem;
    box-shadow: 0.1rem .8rem rgba(0, 0, 0, .4);
    border: none;
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

footer{
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: 'Josefin Slab', serif;
    color: #a7a7a7;
    font-size: 1.5rem;
}

.social-list a{
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.5rem;
}

.social-list ul{
    display: flex;
}





